<header>
    <div class="auth-navbar bg-primary">
        <div class="container flex justify-content-end align-items-center gap-2">
            <img class="auth-navbar__avatar" src="https://fastly.picsum.photos/id/1/200/300.jpg?hmac=jH5bDkLr6Tgy3oAg5khKCHeunZMHq0ehBZr6vGifPLY" alt="">
            <span class="auth-navbar__username">Javier Uribe</span>
        </div>
    </div>

    <nav class="navbar bg-blue-50">
        <div class="container flex justify-content-between align-items-center">
            <a href="#" class="navbar__logo">
                <img src="assets/images/logo.png" alt="Logotipo Danone" class="navbar__logo-img">
            </a>

            <ul class="navbar__items">
                <li class="navbar__item">
                    <a href="#" class="navbar__link-text">Home</a>
                </li>
                <li class="navbar__item">
                    <a href="#" class="navbar__link-text">Products</a>
                </li>
                <li class="navbar__item">
                    <a href="#" class="navbar__link-text">Diary</a>
                </li>
                <li class="navbar__item">
                    <a href="#" class="navbar__link-text">Contact</a>
                </li>
            </ul>

            <ul class="navbar__items">
                <li class="navbar__item">
                    <a href="#" class="navbar__link-icon">
                        <img src="assets/icons/icon-search.png" alt="Icono Buscar Producto" class="navbar__feature-icon">
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>