<footer class="footer bg-blue-100 flex justify-content-around align-items-center">
    <ul class="footer__items footer__items--menu">
        <li class="footer__item">
           <a href="#" class="footer__link-text">News</a> 
        </li>
        <li class="footer__item">
            <a routerLink="/products" class="footer__link-text">Products</a>
        </li>
        <li class="footer__item">
            <a href="#" class="footer__link-text">Contact</a>
        </li>
        <li class="footer__item">
            <a href="#" class="footer__link-text">Help</a>
        </li>
    </ul>

    <ul class="footer__items footer__items--social">
        <li class="footer__item">
            <a href="#" class="footer__link-icon">
                <img class="footer__social-icon" src="assets/icons/icon-instagram.png" alt="Icono de Instagram">
            </a>
        </li>
        <li>
            <a href="#" class="footer__link-icon">
                <img class="footer__social-icon" src="assets/icons/icon-facebook.png" alt="Icono de Facebook">
            </a>
        </li>
        <li>
            <a href="#" class="footer__link-icon">
                <img class="footer__social-icon" src="assets/icons/icon-twitter.png" alt="Icono de Twitter">
            </a>
        </li>
    </ul>
</footer>