<section class="py-4">
    <div class="container">
        <div class="text-right mb-6">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" pInputText placeholder="Search product..." #searchProducts (input)="search(searchProducts.value)"/>
            </span>
        </div>

        <ng-container *ngIf="products$ | async as products">
            <ng-container *ngIf="products.length > 0; else noResults">
                <section class="grid row-gap-7">
                    <div class="col-12 md:col-6 lg:col-3" *ngFor="let product of products">
                        <a [routerLink]="['/products', product.id]">
                            <app-product-card [name]="product.name" [featureImage]="product.featureImage">
                                <app-calories-meter [consumed]="product.calories" [threshold]="100" />
                            </app-product-card>
                        </a>
                    </div>
                </section>
            </ng-container>
        </ng-container>

        <ng-template #noResults>
            <p class="text-left">No hay resultados</p>
        </ng-template>
    </div>
</section>