.product {
    
    &__image-container {
        min-height: 20rem;
        margin-bottom: .5rem;
    }

    &__featureImage {
        display: inline-block;
        max-width: 100%;
        object-fit: cover;
    }

    &__name {
        text-align: center;
        color: var(--gray-900);
        margin-bottom: 1.5rem;
    }
}